{% extends "base.html" %}

{% block content %}
    <center>
    <h3>Current Loans</h3>
    <ul>

    	{% for loan in loans %}
    		<li>
            <div>
                {% if loan.money > 0 %}
                    <a href="{% url 'loan_detail' loan.id %}"> {{ loan.name|capfirst }}</a> owes you ${{loan.money}}
                {% else %}
                    You owe   <a href="{% url 'loan_detail' loan.id %}">  {{ loan.name|capfirst }} </a> ${{loan.absolute}}
                {% endif %}
                </div>
    		</li>
    	{% endfor %}
    </ul>
    </center>
{% endblock %}